@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);


body{

	color : white;
	background:  
	url('https://images.unsplash.com/photo-1561524891-8e08ab8569f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80') no-repeat center center fixed ; 

}

.container {
  display: flex; /* or inline-flex */
  justify-content: center;
  flex-wrap: wrap;
}
.divcon{

	
	font-family: S-CoreDream-3Light;
	border-radius: 5px;
	background-color: rgba(128,128,128,0.8);
	width: 415px;
	height:  auto;
	min-height: 200px; /* height의 최소값*/
	border: 1px solid;
	margin: 15px;
	padding:10px 20px;
}
.divimg{
	
	font-family: S-CoreDream-3Light;
	border-radius: 5px;
	background-color:gray;
	width: 415px;
	height:  auto;
	min-height: 200px; /* height의 최소값*/
	border: 1px solid;
	margin: 15px;
	padding:10px 20px;
}
#conbig{
 width: 860px;
 font-family: 'Jeju Myeongjo', serif;
 font-size: 25;
 font-weight: 900;
}
#conbig2{
 width: 860px;
 font-family: 'Jeju Myeongjo', serif;
 
}

.divconhead{

}
#icons{
	width:30px;
	margin: 10px;

}
